<html>
<header>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</header>

<body>
    <div id="app">
        <input type="text" v-on:input="changeTitle">
        <p>{{ title }}</p>
    </div>
    <script src="./practice.js"></script>

</body>
</html>